
@model ChildPro.Models.CourseViewModel

<style>
    .course_progress{
        float:left;
        margin:5px 200px;
        font-size:16px;

    }
    .course_progress li{
        list-style: none;
        margin:20px;
    }
    .fa{
        margin-right: 10px!important;
    }
</style>
<div class="es-section course-detail-section clearfix">
    <div class="course-detail-bottom"> 
        <div class="course-detail-info__title">
            @Model.coursetable.CourseName
        </div>  
        <div class="course_progress">
            <ul>
                <li><i class="fa fa-book" style="font-size:20px"></i><b>课程章节：共2章</b></li>
                <li><i class="fa fa-check" style="font-size:20px"></i><b>学习进度：0/6</b></li>
                <li><i class="fa fa-clock-o" style="font-size:20px"></i><b>学习有效期:永久有效</b></li>
            </ul>
        </div>  
        <!--details-->
        <div class="course-detail-info">
            <div class="course-detail-info__text js-course-details-info">
                
                <p class="course-detail-info__subtitle text-overflow subtitle cd-text-sm cd-mb16" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" title="" data-original-title="Scratch编程过程中遇到的各种疑难杂症，给你做详细的解答。">
                    <span>@Model.coursetable.CourseType</span>
                </p>
                <div class="cd-mb16">
                    <span class="course-detail__label vertical-sub">课程价格</span>
                    <span class="course-detail-price-money vertical-sub mrm"><b class="pirce-num color-success">免费</b></span>
                </div>
                <div class="course-detail-gray course-detail-gray--market  not-activity ">
                    <div class="hidden-xs common-line-height">
                        <span class="course-detail-title">学习有效期</span>
                        <span class="gray-dark course-detail-expiry mrl">永久有效</span>
                    </div>
                    <div class="course-detail-service cd-mt16">
                        <span class="course-detail-title">承诺服务</span>
                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="提供专属的一对一在线答疑，快速答疑解惑。" data-original-title="一对一在线答疑">疑</span>
                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="对于提问做到有问必答，帮您扫清学习过程中的种种障碍" data-original-title="提问必答">问</span>
                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="24小时内批阅您提交的试卷，给予有针对性的点评" data-original-title="24小时阅卷点评">试</span>
                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="24小时内完成作业批阅，即时反馈并巩固您的学习效果" data-original-title="24小时作业批阅">练</span>
                    </div>
                </div>
            </div>
            <div class="course-detail-info__btn js-course-header-operation">
                @if (Model.isC)
                {
                    <button id="aas" data-tag="2" icon="el-icon-star-on">已收藏</button>
                }
                else
                {
                    <button id="aas" data-tag="1" icon="el-icon-star-on">收藏</button>
                }
                <button icon="el-icon-share">分享</button>

                <div class="text-right buy-btn-group course-operation-btn ">
                    <a id="join1" href="#modal" data-toggle="modal" class="cd-btn cd-btn-primary js-buy-btn " style="text-decoration-line:none">开始学习</a>
                </div>
            </div>
        </div>       
    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="cd-icon cd-icon-close"></i>
                </button>
                <h4 class="modal-title"><span class="color-gray">任务预览:</span> 勇往直前</h4>
            </div>

            <div class="modal-body">
                <iframe src="http://localhost:65238/Video/Index" id="=viewerIframe" width="100%" height="100%" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button id="js-buy-btn" type="button" class="btn btn-primary js-buy-btn js-task-preview-buy-btn" href="javascript:">
                    觉得不错？点击加入此课程
                </button>
            </div>
        </div>

    </div>
</div>