
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/Content/register.css" rel="stylesheet" />
    <style type="text/css">
         body{
            background: #fff;
            direction: ltr;
            font-size: 15px;
            line-height: 1.428;
            margin: 0;
            padding: 0;
        }
    </style>
    <title>少儿编程 - 注册</title>
</head>
<body>
    <div id="app" class="wrapper be-height">
        <div class="wrap">
            <div class="poss-a">
                <div class="poss-inner">
                </div>
            </div>
            <div class="poss-b">
                <div class="registe-b">
                    <div class="logo">
                        <h2>Google</h2>
                    </div>
                    <div class="view-layout">
                        <form class="registe-form">
                            <div class="registe-text">
                                <div>
                                    <h1 class="r-text-h">创建您的 Google 帐号</h1>
                                    <p class="r-text-p">继续使用 Gmail</p>
                                </div>
                            </div>
                            <div class="registe-val">
                                <div class="registe-UI">
                                    <div class="write">
                                        <!-- 第一行-->
                                        <div class="yourname">
                                            <div class="last-name">
                                                <div class="input-wrap">
                                                    <div class="fixedheight">
                                                        <div class="inner-static-block">
                                                            <div class="finel">
                                                                <input type="text" class="what_is_that input_A input_all" autocomplete="off" spellcheck="false"
                                                                       aria-label="用户名"
                                                                       tabindex="0"
                                                                       maxlength="9"
                                                                       name="lastname"
                                                                       id="lastname" />
                                                                <div class="show-inf animate-inf" aria-hidden="true">用户名</div>
                                                            </div>
                                                            <div class="lpl coverss"></div>
                                                            <div class="bod"></div>
                                                        </div>
                                                    </div>
                                                    <div class="error-title">
                                                        <div class="error-tip">
                                                            <div class="err-text">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="first-name">
                                                <div class="input-wrap">
                                                    <div class="fixedheight">
                                                        <div class="inner-static-block">
                                                            <div class="finel">
                                                                <input type="text" class="what_is_that input_B input_all" autocomplete="off" spellcheck="false"
                                                                       aria-label="电话"
                                                                       tabindex="0"
                                                                       maxlength="15"
                                                                       name="firstname"
                                                                       id="firstname" />
                                                                <div class="show-inf animate-inf" aria-hidden="true">电话</div>
                                                            </div>
                                                            <div class="lpl coverss"></div>
                                                            <div class="bod"></div>
                                                        </div>
                                                    </div>
                                                    <div class="error-title">
                                                        <div class="error-tip">
                                                            <div class="err-text">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 第二行-->
                                        <div class="youremail">
                                            <div class="email-wrap">
                                                <div class="input-wrap">
                                                    <div class="fixedheight">
                                                        <div class="inner-static-block">
                                                            <div class="finel">
                                                                <input type="text" class="input_all input_em"
                                                                       spellcheck="false"
                                                                       name="email"
                                                                       maxlength="32"
                                                                       aria-label="邮箱地址"
                                                                       autocomplete="off">
                                                                <div class="show-inf animate-inf" aria-hidden="true">邮箱地址</div>
                                                            </div>
                                                            <div class="lpl coverss"></div>
                                                            <div class="bod"></div>
                                                        </div>
                                                    </div>
                                                    <div class="email-title">
                                                        <div class="email-tip">您可以使用字母、数字和英文句点</div>
                                                        <div class="email-err_tip">
                                                            <div class="email_err_p">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 第三行-->
                                        <div class="yourpassword">
                                            <div class="ps-wrap">
                                                <!--密码-->
                                                <div class="password">
                                                    <div class="input-wrap" style="padding-top: 16px">
                                                        <div class="fixedheight">
                                                            <div class="inner-static-block">
                                                                <div class="finel">
                                                                    <input type="password" class="input_all input_ps"
                                                                           autocomplete="off"
                                                                           spellcheck="false"
                                                                           aria-label="密码"
                                                                           maxlength="20">
                                                                    <div class="show-inf animate-inf" aria-hidden="true">
                                                                        密码
                                                                    </div>
                                                                </div>
                                                                <div class="lpl coverss"></div>
                                                                <div class="bod"></div>
                                                            </div>
                                                        </div>
                                                        <div class="error-title">
                                                            <div class="error-tip">
                                                                <div class="err-text">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--确认密码-->
                                                <div class="confirm">
                                                    <div class="input-wrap" style="padding-top: 16px">
                                                        <div class="fixedheight">
                                                            <div class="inner-static-block">
                                                                <div class="finel">
                                                                    <input type="password" class="input_ps input_confirm"
                                                                           autocomplete="off"
                                                                           spellcheck="false"
                                                                           maxlength="20">
                                                                    <div class="show-inf animate-inf" aria-hidden="true">
                                                                        确认
                                                                    </div>
                                                                </div>
                                                                <div class="lpl coverss"></div>
                                                                <div class="bod"></div>
                                                            </div>
                                                        </div>
                                                        <div class="error-title">
                                                            <div class="error-tip">
                                                                <div class="err-text err_confirm">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="look">
                                                <div class="eye-button">
                                                    <i class="iconfont iconicon-test eye-show"></i>
                                                    <i class="iconfont iconyincang eye-hide"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-in">
                                        <div class="ok_wrapper">
                                            <div role="button" class="ok_btn">
                                                <button class="TJ" type="button">下一步</button>
                                            </div>
                                        </div>
                                        <div class="login_wrapper">
                                            <div class="login_link" role="link">登录现有账号</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="show-all">
                    <div class="show-wrap">
                        <figure class="fig">
                            <img src="~/img/account.svg" width="244" height="244"/>
                            <figcaption>只需一个帐号，您便可以使用 Google 的所有产品和服务。</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <footer class="foot"></footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('input').each(function () {
            var p=$(this).parents('.input-wrap');
            $(this).on('focus',function () {
                if(!p.is('.usb-ani')){
                    p.addClass("usb-ani opk");
                }
            }).on('blur',function () {
                var content=$(this).val().trim();
                if(p.is('.usb-ani.opk') && !!content){
                    p.removeClass("usb-ani");
                }else{
                    p.removeClass("usb-ani opk");
                }
            })
        });
    });
    </script>
    <script type="text/javascript">
        //表单验证
        //设置验证结果
    var err_firm=$('.err_confirm');
    var email_tip=$('.email-tip');
    var email_err_tip=$('.email-err_tip');
    var email_reg=/^[A-Za-z0-9]+\.?[a-zA-Z0-9]+@('@')[0-9a-z]+\.[a-z]{2,3}$/;
    var error_2_1='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;请输入有效邮箱地址'+'</p>';
    var error_2='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;邮箱格式必须使用字母、数字和英文句点的组合'+'</p>';
    var error_3_1='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;密码长度不得少于8个字符'+'</p>';
    var error_3_2='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;请确认密码'+'</p>';
    var error_3_3='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;两次密码不一致，请重试'+'</p>';
    $('.registe-form').on('click','.TJ',function () {
        var checkover1 = 0;
        var checkover2 = false;
        var fir=true;
        var firs=false;
        var input_firm=$('.input_confirm');
        var pass_val=$('.input_ps').val();
        var con_val=$('.input_confirm').val();
        var equal= (pass_val==con_val);
        var email_err_text=$('.input_em').parents('.fixedheight').next().find('.email_err_p');
        $('.input_all').each(function () {
            var check1 = false;
            $_this=$(this);
            var val=$_this.val().trim();
            var error_1='<p class="err_p"><i class="iconfont iconjinggao" style="font-size: 20px"></i>&nbsp;'+'请输入'+$_this.attr('aria-label')+'</p>';
            //永远是第一个输入框为空聚焦 设置的latch
            if(!val && fir){
                $_this.focus();
                fir=false;
            }
            var isEm=$_this.is('.input_em');
            var isPs=$_this.is('.input_ps');
            var err_text= isEm ? $_this.parents('.fixedheight').next().find('.email_err_p') : $_this.parents('.fixedheight').next().find('.err-text');
            var err_p=$_this.parents('.fixedheight').next().find('.err_p');
            //为空时候的逻辑
            if(!val.trim()){
                if(!err_p.length){
                    if(isEm){
                        err_text.append(error_2_1);
                        email_tip.hide();
                        email_err_tip.show();
                    }else{
                        err_text.append(error_1);
                    }
                }else if(isPs){
                    //如果是密码框的话 先情况在加上  清空的是因为其他错误消息而加入的节点 所以它无法进入上面的if
                    err_text.empty();
                    err_text.append(error_1);
                }
                //更改布尔值 先到先得 后面的元素无法进入该作用域
                $_this.parents('.input-wrap').addClass('err');
            }else if(!!val){
                if(isEm && !email_reg.test(val)){
                    err_text.empty();
                    err_text.append(error_2);
                    email_tip.hide();
                    email_err_tip.show();
                    $_this.focus().parents('.input-wrap').addClass('err');
                }else if(isPs){
                    if(pass_val.length<8){
                        err_text.empty();
                        err_text.append(error_3_1);
                    }else{
                        err_text.empty();
                        $_this.parents('.input-wrap').removeClass('err');
                        firs=true;
                        check1 = true;
                        checkover1 += check1;
                    }
                }else if(isEm){
                    $_this.parents('.input-wrap').removeClass('err');
                    err_text.empty();
                    email_tip.show();
                    email_err_tip.hide();
                    check1 = true;
                    checkover1 += check1;
                }else{
                    err_p.remove();
                    $_this.parents('.input-wrap').removeClass('err');
                    check1 = true;
                    checkover1 += check1;
                }
            }
        });
    // 单独处理确认密码框的验证
        if(!con_val && firs){
            //如果密码框不为空 但确认框为空
            err_firm.empty();
            err_firm.append(error_3_2);
            input_firm.parents('.input-wrap').addClass('err');
        }else if(!!con_val && !equal){
            err_firm.empty();
            err_firm.append(error_3_3);
            input_firm.parents('.input-wrap').addClass('err');
        }else{
            err_firm.empty();
            input_firm.parents('.input-wrap').removeClass('err');
            checkover2 = true;
        }
        if((checkover1 == 4) && checkover2){
            var dataObj = {
                UserName:$('.input_A').val().trim(),
                Phone:$('.input_B').val().trim()+'',
                Email:$('.input_em').val().trim(),
                Password:$('.input_ps').val().trim()
            }
            //如果验证成功 提交数据
            $.ajax({
                url:'/Register/Index',
                type:'post',
                contentType: 'application/json;charset=utf-8',
                data:JSON.stringify(dataObj),
                success:function(res){
                    console.log(res.message);
                    window.location.href='/Home/Index';
                },
                error:function(){
                    console.log('请求失败');
                }
            })
        }
    })
    </script>
    <script type="text/javascript">
    //隐藏密码密码逻辑
    var ps=$('.input_ps').eq(0);
    var cf=$('.input_confirm');
    var hide=$('.eye-hide');
    var show=$('.eye-show');
    $('.eye-button').on('click',function () {
        hide.toggle();
        show.toggle();
        $(this).parent('.look').addClass('ani_butt');
        setTimeout(()=>{
            $(this).parent('.look').removeClass('ani_butt');
        },400);
        if(show.is(":hidden")){
            ps.attr("type","text");
            cf.attr("type","text");
        }else{
            ps.attr("type","password");
            cf.attr("type","password");
        }
    })
    </script>
    <script type="text/javascript">
        $('.login_link').on('click',function(){
            window.location.href = '/Login/Index';
        })
    </script>
</body>
</html>
