.cart_box {
    clear: both;
    width: 975px;
    margin: 0 auto;
}

.ch_cart {
    padding: 0 0 40px;
    position: relative;
    height: 35px;
}

.ch_cart1 {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}

.ch_cart2 {
    width: 220px;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    color: #f50;
    position: relative;
    display: inline-block;
}

.ch_cart3 {
    position: absolute;
    display: block;
    width: 800px;
    height: 80px;
    *height: 43px;
    overflow: hidden;
    top: -2px;
    left: 0;
    background-position: -110px 0;
    background-color: #fff;
}

.ch_cart5 {
    min-height: 400px;
}

.ch_cart6 {
    overflow: hidden;
    font-size: 12px;
    position: relative;
}

.ch_cart7 {
    overflow: hidden;
    height: 33px;
}

.ch_cart8 {
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    padding: 0 0 15px 0;
    cursor: pointer;
    margin-left: -1px;
}

.ch_cart9 {
    padding-left: 15px;
    text-decoration: none;
}

.ch_cart10 {
    color: #3399FF;
    font-size: 14px;
    margin: 0 30px 0 5px;
    font-weight: 400;
    font-family: Verdana,Tahoma,arial;
}

.ch_cart11 {
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #e8e8e8;
}

.ch_cart12 {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.ch_cart13 {
    line-height: 25px;
    font-size: 12px;
}

.ch_cart14 {
    font-family: Arial,Verdana;
    font-weight: 700;
    margin-right: 5px;
    color: #3399FF;
}

.ch_cart15 {
    font-size: 12px;
    font-weight: 400;
}

.ch_cart16 {
    font-size: 12px;
    clear: both;
    background: #e6e6e6;
    height: 2px;
    position: relative;
}

.ch_cart17 {
    background: #3399FF;
    height: 2px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ch_cart18 {
    min-height: 60px;
}

.ch_cart19 {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
}

.ch_cart20 {
    width: 990px;
    margin: 0 auto;
}

.ch_cart21 {
    font-size: 12px;
    text-align: left;
    position: relative;
    height: 50px;
    float: left;
    width: 100px;
    line-height: 50px;
    color: #3c3c3c;
}

.ch_cart22 {
    position: absolute;
    left: 10px;
    top: 0;
    width: 80px;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    line-height: 50px;
    color: #3c3c3c;
}

.ch_cart23 {
    margin: -1px 0 0 15px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
}

.ch_cart24 {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
    font-size: 100%;
}

.ch_cart252 {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}

.ch_cart25 {
    float: left;
    width: 220px;
    line-height: 50px;
    color: #3c3c3c;
    margin-left: 15px;
}

.ch_cart26 {
    padding: 0 0 0 50px;
    line-height: 50px;
    color: #3c3c3c;
}

.ch_cart27 {
    float: left;
    width: 172px;
    padding-right: 20px;
}

.ch_cart28 {
    float: left;
    width: 100px;
    margin-left: 115px;
}

.ch_cart29 {
    float: left;
    width: 100px;
    margin-left: 35px;
}

.ch_cart30 {
    float: left;
    width: 100px;
    margin-left: 40px;
}

.ch_cart31 {
    float: left;
    width: 100px;
    margin-left: 30px;
}

.ch_cart32 {
    margin-bottom: 15px;
}

.ch_cart33 {
    border: 1px solid #ccc;
}

.ch_cart35 {
    border-bottom: 0;
}

.ch_cart36 {
    position: relative;
}

.ch_cart37 {
    border-bottom: none;
    background: #fcfcfc;
}

.ch_cart38 {
    height: 125px;
    padding-left: 20px;
}

.ch_cart39 {
    position: relative;
    overflow: hidden;
    float: left;
    min-height: 119px;
}

.ch_cart40 {
    padding-top: 20px;
}

.ch_cart41 {
    margin: 0 10px 0 0;
    float: right;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.ch_cart42 {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
    font-size: 100%;
}

.ch_cart242 {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}

.ch_cart43 {
    float: left;
    min-height: 119px;
    overflow: hidden;
    width: 260px;
    margin: 0 20px 0 20px;
}

.ch_cart44 {
    padding-top: 20px;
}

.ch_cart45 {
    background: #fff;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
}

.ch_cart46 {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}

.ch_cart47 {
    max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
    border: 0;
}

.ch_cart1212 {
    margin: 10px 0 0 100px;
}

.ch_cart48 {
    min-height: 40px;
}

.ch_cart45454 {
    font-size: 12px;
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #909090;
}

.ch_cart49 {
    float: left;
    min-height: 119px;
    overflow: hidden;
    width: 90px;
    padding-right: 20px;
    margin: 0 20px 0 0;
}

.ch_cart50 {
    padding: 16px 0;
    min-height: 84px;
    border: 1px dashed transparent;
    position: relative;
}

.ch_cart51 {
    margin: 10px 5px 0 15px;
    color: #9c9c9c;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ch_cart52 {
    color: #9c9c9c;
    float: left;
    min-height: 119px;
    overflow: hidden;
    margin: 0 35px 0 5px;
}

.ch_cart53 {
    padding-top: 20px;
}

.ch_cart54 {
    color: #9c9c9c;
}

.ch_cart55 {
    padding: 8px 0 0 10px;
    line-height: 1;
    width: 74px;
}

.ch_cart56 {
    padding: 0 0 4px 0;
    line-height: 1;
}

.ch_cart57 {
    color: #9c9c9c;
    text-decoration: line-through;
    font-family: Verdana,Tahoma,aria;
}

.ch_cart58 {
    float: left;
    min-height: 119px;
    width: 120px;
    margin: 0 35px 0 10px;
}

.ch_cart59 {
    padding-top: 25px;
}

.ch_cart61 {
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 77px;
}

.ch_cart62 {
    border-right-color: transparent;
    left: 0;
    display: block;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top: 0;
    float: left;
    text-decoration: none;
}

.ch_cart63 {
    width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    background-position: -75px -375px;
    position: absolute;
    z-index: 2;
    left: 18px;
    top: 0;
    float: left;
}

.ch_cart64 {
    border-left-color: transparent;
    right: 0;
    display: block;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top: 0;
    float: left;
    text-decoration: none;
}

.ch_cart65 {
    color: #3399FF;
    font-weight: 700;
    float: left;
    min-height: 119px;
    overflow: hidden;
    width: 50px;
}

.ch_cart66 {
    padding-top: 30px;
}

.ch_cart67 {
    font-family: Verdana,Tahoma,arial;
}

.ch_cart68 {
    float: left;
    min-height: 119px;
    overflow: hidden;
    width: 40px;
    padding: 0 0 0 15px;
    margin: 0 20px 0 75px;
}

.ch_cart69 {
    padding-top: 30px;
}

.ch_cart70 {
    display: block;
    color: #3c3c3c;
}

.ch_cart71 {
    position: relative;
    height: 50px;
}

.ch_cart72 {
    position: static;
    width: 1190px;
    margin: 0 auto;
}

.ch_cart73 {
    position: absolute;
    bottom: 49px;
    width: 100%;
    z-index: 10001;
    background-color: #fff;
}

.ch_cart74 {
    border: 1px solid #f40;
    background: #fff;
}

.ch_cart75 {
    position: absolute;
    background: url(//img.alicdn.com/tps/TB1R58eKpXXXXcmXFXXXXXXXXXX-13-7.png) no-repeat;
    bottom: -13px;
    right: 46px;
    margin-left: -4px;
    width: 13px;
    height: 14px;
    display: block;
    font-size: 0;
    line-height: 0;
}

.ch_cart76 {
    height: 50px;
    overflow: hidden;
    background: #e5e5e5;
}

.ch_cart77 {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    cursor: pointer;
}

.ch_cart78 {
    vertical-align: middle;
    margin-top: -2px;
    position: relative;
    display: inline-block;
    line-height: 50px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.ch_cart79 {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
    font-size: 100%;
}

.ch_cart80 {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
    background: transparent url(//gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png) no-repeat -9999px -9999px;
    background-image: -webkit-image-set(url(//gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png) 1x,url(//gw.alicdn.com/tfs/TB1LJYSfmBYBeNjy0FeXXbnmFXa-800-600.png) 2x);
}

.ch_cart81 {
    float: left;
    line-height: 50px;
    height: 50px;
}

.ch_cart82 {
    margin-left: 100px;
    float: left;
    text-decoration: none;
    color: #33CCFF;
}

.ch_cart83 {
    margin-left: 50px;
    float: left;
    text-decoration: none;
    color: #33CCFF;
}

.ch_cart84 {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    padding-left: 20px;
    background: #e5e5e5;
}

.ch_cart85 {
    cursor: pointer;
    height: 48px;
    color: #3c3c3c;
    float: left;
    margin-right: 100px;
}

.txt {
    float: left;
    line-height: 48px;
    cursor: pointer;
    color: #3c3c3c;
}

.ch_cart789 {
    line-height: 50px;
    padding: 0 5px;
    float: left;
    color: #3399FF;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}

.ch_cart86 {
    height: 48px;
    float: left;
    margin-right: 20px;
}

.ch_cart87 {
    color: #f40;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial;
    vertical-align: middle;
    float: left;
}

.ch_cart886 {
    font-weight: 700;
    font-size: 22px;
    padding: 0 3px;
    color: #3399FF;
    font-family: tohoma,arial;
}

.ch_cart88 {
    font-size: 14px;
    font-family: verdana;
    font-weight: 400;
    color: #3399FF;
}

.ch_cart89 {
    float: left;
}

.ch_cart90 {
    color: #fff;
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #3399FF;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
