#scroll_container {
    overflow-x: auto;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}

#scroll_container_bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#canvas {
    position: relative;
    width: 1200px;
    z-index: 99;
}

    #canvas.cstlayer {
        left: 0;
        top: 0;
        position: absolute;
        overflow: hidden;
        z-index: 99;
    }

.searchbox_btn {
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/search-btn2-m.jpg);
    float: right;
    width: 50px;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    top: -30px;
    position: relative;
}

.searchbox_txt {
    width: 232px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #666666;
    font-weight: normal;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    border: #d3d3d3 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.wp-title_content {
    font-size: 12px;
    line-height: 140%;
    overflow: hidden;
}

ul, li {
    list-style: none;
}

.lihover {
    text-align: center;
    background-color: transparent;
    background-position: top left;
    height: 50px;
    line-height: 50px;
    background-image: url(https://static.websiteonline.cn/website/plugin/new_navigation/styles/hs9/dhover.jpg);
    background-repeat: repeat-x;
    height: 40px;
    line-height: 40px;
    background: transparent;
    background-color: transparent;
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/title-line.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.ahover {
    color: #333333;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: Microsoft YaHei;
    color: #27282a;
}

.wp_subtop {
    color: #333333;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: Microsoft YaHei;
    color: #27282a;
    float: left;
}

.html5zoo-slides {
    margin: 0 auto;
}

.html5zoo-wrapper-0 {
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
}

.html5zoo-slider-0 {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.html5zoo-box-0 {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.html5zoo-space-o {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

.guide1 {
    left: 0;
    top: 90px;
    position: relative;
    z-index: 101;
    width: 1200px;
    height: 46px
}

.guide2 {
    word-wrap: break-word;
    padding: 0;
    border-color: rgb(238,238,238) transparent transparent;
    border-width: 1px 0 0;
    height: 45px;
    background-color: rgb(103,213,216);
    width: 1200px;
    border-style: solid;
}

.guide3 {
    left: 0px;
    top: 3px;
    position: absolute;
    z-index: 115;
    width: 1200px;
    height: 40px;
}

.guide4 {
    border-color: transparent;
    border-width: 0px;
    width: 1200px;
    border-style: solid;
    padding: 0px;
    display: block;
    overflow: visible;
    height: auto;
}

.picture1 {
    left: 0;
    top: 90px;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 600px;
}

.picture2 {
    overflow: hidden;
    border: none;
    left: 0;
    width: 100%;
    height: 600px;
    position: absolute;
}

.picture3 {
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
}

.picture-over {
    left: 642.5px;
    top: 245px;
    position: absolute;
    z-index: 103;
    width: 271px;
    height: 33px;
}

.picture-over1 {
    overflow-wrap: break-word;
    padding: 0;
    border-color: transparent;
    border-width: 0;
    height: 33px;
    background-color: rgb(103,213,216);
    width: 271px;
    border-style: solid;
}

.picture-over2 {
    left: 8px;
    top: 5px;
    position: absolute;
    z-index: 112;
    width: 225px;
    height: 23px;
}

.picture-over3 {
    word-wrap: break-word;
    padding: 0;
    border-color: transparent;
    border-width: 0;
    height: 23px;
    width: 255px;
    display: block;
}

.picture-over4 {
    color: rgb(255,255,255);
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    letter-spacing: 4px;
}

.picture-over5 {
    left: 477px;
    top: 270px;
    position: absolute;
    z-index: 102;
    width: 593px;
    height: 154px;
}

.picture-over6 {
    -webkit-border-radius: 8px;
    word-wrap: break-word;
    padding: 0;
    border-color: rgb(103,213,216);
    border-width: 2px;
    height: 150px;
    background-color: rgb(255,255,255);
    width: 589px;
    border-style: solid;
    opacity: 0.8;
}

.picture-over7 {
    left: 35px;
    top: 22px;
    position: absolute;
    z-index: 101;
    width: 523px;
    height: 68px;
}

.picture-over8 {
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 68px;
    width: 523px;
    display: block;
    border-style: solid;
    line-height: 68px;
}

.picture-over9 {
    left: 241px;
    top: 102px;
    position: absolute;
    z-index: 127;
    width: 112px;
    height: 30px;
}

.picture-over10 {
    padding: 0px;
    overflow: hidden;
    width: 112px;
    height: 30px;
}

.btnarea {
    width: 112px;
    left: 0;
    top: -2px;
    height: 32px;
    line-height: 30px;
    border-radius: 15px 15px 15px 15px;
    border-width: 2px;
    /*border-color: rgba(39,40,42,1);*/
    /*box-shadow: none;*/
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: border-color 0.4s ease 0s,background-color 0.4s ease 0s;
    border: 2px solid rgba(39,40,42,1);
}

.ziti {
    font-size: 48px;
    font-family: 宋体;
}

.ziti1 {
    font-size: 42px;
    font-family: 宋体
}

.picture-over11 {
    color: rgba(39,40,42,1);
    font-family: Microsoft YaHei;
    font-weight: normal;
    transition: color 0.4s ease 0s;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}

.better_show {
    width: 1200px;
    position: absolute;
    top: 690px;
    height: 540px;
    z-index: 105;
}

.better_show1 {
    position: absolute;
    height: 540px;
    background-color: rgb(220, 233, 234);
    background-position: center center;
    background-repeat: no-repeat;
    left: -41.5px;
    width: 1283px;
}

.better_show2 {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    height: 540px;
}

.better_show3 {
    left: 50px;
    top: 70px;
    position: absolute;
    z-index: 154;
    width: 1100px;
    height: 400px;
}

.better_show4 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    width: 1100px;
    border-style: solid;
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/index-bg-2-m.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

.better_show5 {
    left: 336px;
    top: 118px;
    position: absolute;
    z-index: 142;
    width: 200px;
    height: 200px;
}

.better_show6 {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-width: 0px;
    border-style: solid;
    padding: 0px;
}

.better_show7 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 200px;
    height: 200px;
}

.better_show8 {
    width: 200px;
    height: auto;
    display: inline;
}

.better_show9 {
    left: 336px;
    top: 37px;
    position: absolute;
    z-index: 148;
    width: 179px;
    height: 43px;
}

.better_show10 {
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 43px;
    width: 179px;
    display: block;
    border-style: solid;
}

.better_show11 {
    left: 589px;
    top: 118px;
    position: absolute;
    z-index: 143;
    width: 200px;
    height: 200px;
}

.better_show12 {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-width: 0px;
    border-style: solid;
    padding: 0px;
}

.better_show13 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 200px;
    height: 200px;
}

.better_show14 {
    width: 200px;
    height: auto;
    display: inline;
}

.better_show15 {
    left: 842px;
    top: 118px;
    position: absolute;
    z-index: 144;
    width: 200px;
    height: 200px;
}

.better_show16 {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-width: 0px;
    border-style: solid;
    padding: 0px;
}

.better_show17 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 200px;
    height: 200px;
}

.better_show18 {
    width: 200px;
    height: auto;
    display: inline;
}

.better_show19 {
    left: 360px;
    top: 328px;
    position: absolute;
    z-index: 145;
    width: 150px;
    height: 22px;
}

.better_show20 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 22px;
    width: 150px;
    display: block;
}

.better_show21 {
    font-family: 微软雅黑;
    font-size: 14px;
    line-height: 140%
}

.better_show22 {
    left: 614.5px;
    top: 328px;
    position: absolute;
    z-index: 146;
    width: 150px;
    height: 22px;
}

.better_show23 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 22px;
    width: 150px;
    display: block;
}

.better_show24 {
    font-family: 微软雅黑;
    font-size: 14px;
    font-height: 140%;
}

.better_show25 {
    left: 869px;
    top: 328px;
    position: absolute;
    z-index: 147;
    width: 150px;
    height: 22px;
}

.better_show26 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 22px;
    width: 150px;
    display: block;
}

.better_show27 {
    font-family: 微软雅黑;
    font-size: 14px;
    line-height: 140%;
}

.better_show28 {
    left: 480px;
    top: 55px;
    position: absolute;
    z-index: 149;
    width: 255px;
    height: 18px;
}

.better_show29 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 18px;
    width: 255px;
    display: block;
}

.better_show30 {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgb(102, 102, 102);
    line-height: 140%;
}

.better_show31 {
    left: 1043.21px;
    top: 320px;
    position: absolute;
    z-index: 155;
    width: 106.793px;
    height: 150px;
}

.better_show32 {
    overflow: hidden;
    width: 107px;
    height: 150px;
}

.better_show33 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 107px;
    height: 150px;
}

.better_show34 {
    width: 107px;
    height: auto;
    display: inline;
}

.jingping {
    height: 43px;
    font-family: 宋体;
    font-size: 32px;
    color: rgb(39,40,42);
}

.product_center {
    width: 1200px;
    position: absolute;
    top: 1230px;
    height: 599px;
    z-index: 106;
}

.product_center1 {
    position: absolute;
    height: 599px;
    background-color: rgb(255, 255, 255);
    background-position: center top;
    background-repeat: repeat;
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/brilliant.png);
    left: -41.5px;
    width: 1283px;
}

.product_center2 {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0px;
    height: 599px;
}

.product_center3 {
    left: 850px;
    top: 136px;
    position: absolute;
    z-index: 117;
    width: 300px;
    height: 462px;
}

.product_center4 {
    overflow: hidden;
    width: 300px;
    height: 462px;
    border-width: 0px;
    border-style: solid;
    padding: 0px;
}

.product_center5 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 300px;
    height: 462px;
}

.product_center6 {
    width: 300px;
    height: auto;
    top: -69px;
    left: 0px;
    position: relative;
    display: inline;
}

.product_center7 {
    left: 904.5px;
    top: 169px;
    position: absolute;
    z-index: 120;
    width: 191px;
    height: 40px;
}

.product_center8 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent transparent rgb(67, 67, 67);
    border-width: 0px 0px 2px;
    height: 38px;
    width: 191px;
    display: block;
    border-style: solid;
}

.product_center9 {
    color: rgb(67, 67, 67);
    font-family: SimSun;
    font-size: 24px;
}

.product_center10 {
    left: 0px;
    top: 52px;
    position: absolute;
    z-index: 100;
    width: 1200px;
    height: 41px;
}

.product_center11 {
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 41px;
    width: 1200px;
    display: block;
    border-style: solid;
}

.product_center12 {
    font-size: 30px;
    color: rgb(39, 40, 42);
    line-height: 140%;
    font-family: 宋体;
}

.product_center13 {
    left: 585.5px;
    top: 82px;
    position: absolute;
    z-index: 151;
    width: 29px;
    height: 34px;
}

.product_center14 {
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 29px;
    height: 34px;
}

.horizontal-solid {
    border: none;
    border-top: 4px solid #27282a;
    height: 0;
}

.wpline-wrapper {
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
}

.product_center15 {
    left: 48px;
    top: 136px;
    position: absolute;
    z-index: 101;
    width: 796px;
    height: 449px;
}

.product_center16 {
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 796px;
    height: 449px;
}

.product_center17 {
    vertical-align: top;
    width: 160px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.article_list {
    padding: 15px;
    border: 1px solid #dddddd;
    overflow: auto;
    zoom: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 140%;
    display: inline-block;
}

.img {
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    line-height: 140%;
}

.product_center18 {
    height: 160px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    left: -17px;
}

.product_center19 {
    text-decoration: none;
    color: #5a5a5a;
}

.product_center20 {
    position: relative;
    max-width: 160px;
    margin: 0px auto;
    max-height: 160px;
    display: inline;
}

.product_center21 {
    padding: 0 3px 0 6px;
    line-height: 140%;
}

.title {
    word-wrap: break-word;
    display: block;
    font-size: 14px;
    text-align: center;
}

.product_center22 {
    left: 908px;
    top: 220px;
    position: absolute;
    z-index: 148;
    width: 184px;
    height: 260px;
}

.product_center23 {
    -webkit-border-radius: 10px;
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 260px;
    background-color: rgb(255, 255, 255);
    width: 184px;
    border-style: solid;
    opacity: 0.8;
}

.product_center24 {
    left: 16px;
    top: 20px;
    position: absolute;
    z-index: 122;
    width: 150px;
    height: 136px;
}

.product_center25 {
    border-color: transparent;
    border-width: 0px;
    width: 150px;
    height: 136px;
    border-style: solid;
    padding: 0px;
}

.product_center26 {
    position: relative;
    width: 150px;
    background-image: url(https://static.websiteonline.cn/website/plugin/product_category/view/images/png_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: thin none;
}

.product_center27 {
    line-height: 39.333333333333336px;
    border-radius: 8px;
    background-color: #c0c1c3;
    float: left;
    position: relative;
    width: 150px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.about_us {
    width: 1200px;
    position: absolute;
    top: 1828px;
    height: 380px;
    z-index: 150;
}

.about_us1 {
    position: absolute;
    height: 380px;
    background-color: rgb(255, 255, 255);
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/index-bg-3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    left: -190px;
    width: 1590px;
}

.about_us2 {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0px;
    height: 380px;
}

.about_us3 {
    left: 500px;
    top: 82px;
    position: absolute;
    z-index: 136;
    width: 29px;
    height: 34px;
}

.about_us4 {
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 29px;
    height: 34px;
}

.about_us5 {
    left: 498px;
    top: 43px;
    position: absolute;
    z-index: 136;
    width: 179px;
    height: 43px;
}

.about_us6 {
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 43px;
    width: 179px;
    display: block;
    border-style: solid;
}

.about_us7 {
    font-size: 32px;
    color: rgb(39, 40, 42);
    line-height: 140%;
}

.about_us8 {
    left: 500px;
    top: 114px;
    position: absolute;
    z-index: 137;
    width: 610px;
    height: 176px;
}

.about_us9 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 176px;
    width: 610px;
    display: block;
}

.about_us10 {
    font-family: 微软雅黑;
    line-height: 200%;
    font-size: 14px;
    color: rgb(39, 40, 42);
}

.about_us11 {
    left: 5px;
    top: 63px;
    position: absolute;
    z-index: 138;
    width: 428px;
    height: 327px;
}

.about_us12 {
    word-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 327px;
    background-color: rgb(39, 40, 42);
    width: 428px;
    border-style: solid;
    background-image: url(https://gifts-1022594-hkpic1.websiteonline.cn/upload/brilliant.png);
}

.about_us13 {
    left: 10px;
    top: -14px;
    position: absolute;
    z-index: 139;
    width: 418px;
    height: 332px;
}

.about_us14 {
    overflow: hidden;
    width: 418px;
    height: 332px;
    border-width: 0px;
    border-style: solid;
    padding: 0px;
}

.about_us15 {
    overflow: hidden;
    border-color: transparent;
    border-width: 0px;
    position: relative;
    width: 418px;
    height: 332px;
}

.about_us16 {
    width: 418px;
    height: auto;
    display: inline;
}

.about_us17 {
    left: 500px;
    top: 309px;
    position: absolute;
    z-index: 141;
    width: 94px;
    height: 34px;
}

.about_us18 {
    padding: 0px;
    overflow: hidden;
    width: 94px;
    height: 34px;
    border: 2px solid rgba(39,40,42,1);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.about_us19 {
    width: 90px;
    left: 0px;
    top: 0px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
}

.news_update {
    width: 1200px;
    position: absolute;
    top: 2208px;
    height: 533px;
    z-index: 149;
}

.news_update1 {
    position: absolute;
    height: 533px;
    background-color: rgb(255, 255, 255);
    left: -41.5px;
    width: 1283px;
}

.news_update2 {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0px;
    height: 533px;
}

.news_update3 {
    left: 70px;
    top: 148px;
    position: absolute;
    z-index: 135;
    width: 1060px;
    height: 259px;
}

.news_update4 {
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 1060px;
    height: 259px;
}

.news_update5 {
    width: 250px;
    margin-right: 12px;
    margin-bottom: 6px;
}

.lihout {
    border-color: transparent;
    border-style: solid;
    float: left;
}

.news_update6 {
    height: 200px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.news_update7 {
    margin: 0px auto;
    position: relative;
    max-height: 200px;
    max-width: 250px;
    display: inline;
}

.news_update8 {
    height: 32px;
    padding: 0 3px 0 6px;
    line-height: 140%;
}

.news_update9 {
    font-family: Microsoft YaHei;
    font-size: 12px;
    color: #5A5A5A;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 140%;
}

.time {
    margin-bottom: 3px;
    display: block;
}

.news_update10 {
    font-family: Microsoft YaHei;
    font-size: 11px;
    color: #67d5d8;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 140%;
}

.news_update11 {
    left: 0px;
    top: 58px;
    position: absolute;
    z-index: 100;
    width: 1200px;
    height: 43px;
}

.news_update12 {
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 43px;
    width: 1200px;
    display: block;
    border-style: solid;
}

.news_update13 {
    font-size: 32px;
    color: rgb(39, 40, 42);
    font-family: 宋体;
    line-height: 140%;
}

.news_update14 {
    left: 585.5px;
    top: 94px;
    position: absolute;
    z-index: 101;
    width: 29px;
    height: 34px;
}

.news_update15 {
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 29px;
    height: 34px;
}

.news_update16 {
    left: 553px;
    top: 438px;
    position: absolute;
    z-index: 102;
    width: 94px;
    height: 34px;
}

.news_update17 {
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    overflow: hidden;
    width: 94px;
    height: 34px;
}
