
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="http://localhost:65238/CodeInlie/index.html">点击进入</a>
    </div>
</body>
</html>
