@model Models.User

@if (Model == null)
{
    <div class="f-l unlogin_area">
        <a href="/Login/index" class="login_in f-l">登录</a>
        <a href="/Register/Index" class="register_link f-l">注册</a>
    </div>
}
else
{
    //通知区域
    <div class="message_notice f-l">
        <div class="message_notice_area">
            <i class="el-icon-message-solid"></i>
        </div>
    </div>

    <div class="user_header leader p-r f-l">
        <div class="user_hear_img">
            <img src="//edu-image.nosdn.127.net/9543111797ce46c990986769cfebafc7.jpg?imageView&quality=100&thumbnail=60y60" width="30" height="30" style="border-radius: 30px" />
        </div>
        <div class="user_login_show">
            <div class="user_login_nav">
                <div class="user_nav_login_item">
                    <a href=@Url.Action("Index","User",new { userid = Model.UserID}) class="user_nav_link">我的主页</a>
                </div>
                <div class="user_nav_login_item">
                    <a href="/User/UserSetting" class="user_nav_link">账号设置</a>
                </div>
                <div class="user_nav_login_item">
                    <a href="/Home/LoginOut" class="user_nav_link">退出登录</a>
                </div>
            </div>
            <i class="el-icon-caret-top"></i>
        </div>
    </div>
}