@model Models.User

@if (Model == null)
{
    
}
else
{
    //通知
    <div class="message_notice f-l">
        <div class="message_notice_area">
            <i class="el-icon-message-solid"></i>
        </div>
    </div>

    <div class="user_header p-r f-l">
        <div class="user_hear_img">
            <img src="//edu-image.nosdn.127.net/9543111797ce46c990986769cfebafc7.jpg?imageView&quality=100&thumbnail=60y60" width="30" height="30" style="border-radius: 30px" />
        </div>
    </div>
}